# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\developers\workspace\projetos\java\ecommerce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/81ed52ca-8c39-47d1-8513-62635e5fb92d.xml
/dataSources/f5c1d3db-5e6f-48e5-a379-80786f9068f7/storage_v2/_src_/schema/algaworks_ecommerce.3qSOzg.meta
/dataSources/f5c1d3db-5e6f-48e5-a379-80786f9068f7.xml
/dataSources/81ed52ca-8c39-47d1-8513-62635e5fb92d/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/dataSources/f5c1d3db-5e6f-48e5-a379-80786f9068f7/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/dataSources/81ed52ca-8c39-47d1-8513-62635e5fb92d/storage_v2/_src_/schema/sge_sud.lPnreA.meta
/dataSources/81ed52ca-8c39-47d1-8513-62635e5fb92d/storage_v2/_src_/schema/sge_sud.lPnreA.zip
/vcs.xml
